<div class="card" style="width:400px">
  <img class="card-img-top" src="{{autos.imagen}}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Nombre:</h4>
    <p class="card-text">{{autos.nombre}}</p>
    <h4 class="card-title">Modelo:</h4>
    <p class="card-text">{{autos.modelo}}</p>
    <h4 class="card-title">Marca:</h4>
    <p class="card-text">{{autos.marca}}</p>
    <h4 class="card-title">Precio:</h4>
    <p class="card-text">{{autos.precio}}</p>
    <h4 class="card-title">Color:</h4>
    <p class="card-text">{{autos.color}}</p>
    <h4 class="card-title">Dueños Anteriores:</h4>
    <p class="card-text">{{autos.duenos_anteriores}}</p>

    <a href="productos" class="btn btn-primary">Regresar</a>
  </div>
</div>
