<form (ngSubmit)="guardar( formulario )" #formulario = "ngForm">
  <h2 style="text-align: center;">Formulario de Ingreso de Autos</h2>


      <label for="id">ID:</label>
      <input type="text" id="id" name="id" [(ngModel)]="id" >

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre">

      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" name="modelo" [(ngModel)]="modelo">

      <label for="marca">Marca:</label>
      <input type="text" id="marca" name="marca" [(ngModel)]="marca">

      <label for="precio">Precio:</label>
      <input type="number" id="precio" name="precio" [(ngModel)]="precio">

      <label for="color">Color:</label>
      <input type="text" id="color" name="color" [(ngModel)]="color">

      <label for="duenos_anteriores">Dueño:</label>
      <input type="text" id="duenos_anteriores" name="duenos_anteriores" [(ngModel)]="duenos_anteriores">

      <label for="imagen">URL de Imagen:</label>
      <input type="url" id="imagen" name="imagen" [(ngModel)]="imagen">

      <button type="submit">Guardar Auto</button>

      <img id="preview" class="img-preview" src="" alt="Vista previa de la imagen" style="display:none;">
  </form>





